<mat-toolbar color="primary" class="content-header mat-elevation-z8">
    <button mat-icon-button (click)="sideNavOpened=!sideNavOpened;">
        <mat-icon>menu</mat-icon>
    </button>
    <h1 *ngIf="!sideNavOpened">
        WebDNA
    </h1>
    <span class="toolbar-fill-remaining-space"></span>
    <span>
        <button mat-button (click)="onLogoutClicked()">
            <i class="fa fa-lock"></i>
            Logout
        </button>
    </span>
</mat-toolbar>

<mat-sidenav-container class="content-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="sideNavOpened" class="content-sidenav">
        <div class="sidenav-background-image"></div>
        <div style="position: absolute; top: 0; left: 0;">
            <img class="sidenav-logo" src="../../../assets/img/full-logo.png" width="160">
            <mat-divider class="sidenav-divider"></mat-divider>
            <mat-nav-list>
                <mat-list-item *ngIf="currentPath !== 'dashboard'" style="color: white;" (click)="projectsClicked()">Projects</mat-list-item>
                <mat-list-item *ngIf="currentPath === 'dashboard'" style="color: #ff9800; background: white;" (click)="projectsClicked()">Projects</mat-list-item>
                <mat-list-item *ngIf="currentPath !== 'visualizer'" style="color: white;" (click)="visualizerClicked()">Visualizer</mat-list-item>
                <mat-list-item *ngIf="currentPath === 'visualizer'" style="color: #ff9800; background: white;" (click)="visualizerClicked()">Visualizer</mat-list-item>
            </mat-nav-list>
        </div>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content-container">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>